<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br/>   
<div class="container-fluid">
    <div class="row">
            <div class="card">
                <img src="assets/pr_md.jpg" alt="John" style="width:100%">
                <h1>Pravin Ramsingh Jadhav</h1>
                <p class="title">CEO & Founder</p>
                <p>PR Enforcement Agency</p>
                <p>
                <a href="https://twitter.com/praveen79406211?s=20"><i class="fa fa-twitter"></i></a>&nbsp;
                <a href="https://instagram.com/p_rajput27?igshid=kxrfi5a2tjmy"><i class="fa fa-instagram"></i></a>&nbsp;
                <a href="https://www.facebook.com/pravin.jadhav.731135"><i class="fa fa-facebook"></i></a>
                </p>
                <!-- <p><button routerLink="../contact">Contact</button></p> -->
                <div style="text-align: left;">
                    <div id="accordion">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Profile Information
                        </button>
                      
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                              <ul><li><b>Introduction</b></li></ul>
                              <p>
                                PR Enforcement Agency has witness profound growth and stability under the kind guidance and leadership of it's founder Mr. Pravin Jadhav. The group established in 2013 has seen immense amount of innovation and development. With his vision and honesty in his work.
                            </p>
                            <p>
                                Mr. Pravin Jadhav has led the organization to the height which has inspired others to follow. He is the founder of PR Enforcement Agency.
                              </p>
                              <p>
                                He is truly one of the most inspiring personalities of our times. He is the man of sheer hard work and excellence, rose from a humble beginning to a person who is an epitome to all his employees. He has given the organization the firm discipline with the elegance of close extended family in his employees. His formula behind the grand success is his constant determination towards quality of his work.
                              </p><hr/>
                              <ul><li><b>Working experience</b></li></ul>
                              <ol>
                                  <li>Experience as Bank facilitator.</li>
                                  <li>Running PR Enforcement Agency from last 4 years.</li>
                                  <li>Working in the various districts like Nashik, Dhule, Jalgaon, Pune, Nandurbar, Aurangabad, Kolhapur, Thane, Mumbai, Ahemadnagar, Akola, Solapur etc.</li>
                              </ol><hr/>
                              <ul><li><b>Educational Qualification</b></li></ul>
                              <ol>
                                  <li>BA in English Pune University</li>
                                  <li>MA in English from Pune University </li>
                                  <li>MBA in Marketing</li>
                                  <li>DRA Exam completed in 2015</li>
                                </ol><hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<br/>