<!-- Footer -->
<footer class="footer bg-dark text-white">

    <!-- Footer Links -->
    <div class="container pt-5 pb-2">
        <div class="row">

            <div class="col-md-3 col-lg-4 col-xl-3">
                <h4>PR Enforcement Agency</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p>
                    06, Building No. 2, Stadium complex, MG road, Nashik - 422001
                </p>
                <h4>Social Media</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p>
                    <a href="https://www.facebook.com/pravin.jadhav.731135">
                        <img src="/assets/Social/fb.png" width="40" height="40" alt="FB">
                    </a> &nbsp;&nbsp;&nbsp;
                    <a href="https://instagram.com/p_rajput27?igshid=kxrfi5a2tjmy">
                        <img src="/assets/Social/instagram.png" width="40" height="40" alt="instagram">
                    </a> &nbsp;&nbsp;&nbsp;
                    <a href="https://twitter.com/praveen79406211?s=20">
                        <img src="/assets/Social/twitter.png" width="40" height="40" alt="twitter">
                    </a>
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h4>Associated Banks</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p><img src="/assets/Bank/BOB.png" width="190" height="60" alt="BOB"></p>
                <p><img src="/assets/Bank/BOI.jpg" width="190" height="50" alt="BOI"></p>
                <p><img src="/assets/Bank/Alahabad.png" width="190" height="40" alt="Alahabad"></p>
                <p><img src="/assets/Bank/union.png" width="190" height="40" alt="Union"></p>
                <p><img src="/assets/Bank/cbi.png" width="190" height="50" alt="cbi"></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h4>Useful links</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p><a routerLink="home" class="text-white">Home</a></p>
                <p><a routerLink="md-profile" class="text-white">Organization MD</a></p>
                <p><a routerLink="organization-info" class="text-white">Organization Info</a></p>
                <p><a routerLink="movable-properties" class="text-white">Movable Properties</a></p>
                <p><a routerLink="non-movable-properties" class="text-white">Non Movable Properties</a></p>
                <p><a routerLink="contact" class="text-white">Contact</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h4>Contact</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p><i class="fa fa-home mr-3 text-white"></i><a href="">PR Enforcemnet Agency</a></p>
                <p><i class="fa fa-envelope mr-3"></i>prendetect@gmail.com</p>
                <p><i class="fa fa-phone mr-3"></i>+91 9850488851</p>
            </div>

        </div>
    </div>
    <!-- Footer Links-->

    <hr class="bg-white mx-4 mt-2 mb-1">

    <!-- Copyright-->
    <div class="container-fluid">
        <p class="text-center m-0 py-1">
            © 2020 Copyright: <a href="#" class="text-white">PR Enforcement Agency - </a> Designed : <a href="https://www.linkedin.com/in/mohit-chaudhari-1018/">Mohit Chaudhari</a>
        </p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->