<br/>
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card card-body">
                <div>
                    <h2>PR Enforcement Agency</h2><hr/>
                    <ul style="text-align: left;">
                        <li>PR ENFORCEMENT working in various fields like Recovery, Investigation & Liaisoning.</li>
                        <li>Strong Team of Experts, Advocates & Ex. Police Officials</li>
                        <ol>
                            <li>Ret. Deputy Commissioner Of Police</li>
                            <li>Ret. Assistant Commissioner Of Police</li>
                            <li>Advocate full time for Our Legal matters.</li>
                        </ol>
                        <li>Having strong contact in politicians too.</li>
                        <li>Believe to Stretch ourselves to Set & Achieve High targets.</li>
                        <li>Enpanelment with,</li>
                        <ol>
                            <li>Central Bank of India in January 2015, 2016, 2017, 2018, 2019 for Nashik, Pune and Thane region.</li>
                            <li>Allahabad Bank in August 2015, 2016.</li>
                            <li>Bank of India in December 2016, 2017 & 2018.</li>
                            <li>Union Bank Of India September 2018.</li>
                        </ol>
                        <li>Settled 1000+ written off cases.</li>
                        <li>Measurable Recovery of 30 Crore from Agriculture NPA accounts.</li>
                        <li>Physical Possessions without DM permission and recovery from that accounts.</li>
                        <li>Settled more than 20+ High Profile Cases.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>