<div class="jumbotron-fluid big-banner">
    <div class="container">
        <div class="text-center text-light"><br/>
            <h1 class="display-5">PR Enforcement Agency</h1>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-50"><br/><br/>
            <h1>DEBT RECOVERY AND ENFORCEMNT</h1>
            <h1 class="lead">We are a proactive and professional debt management firm that values business reputation, with over 7 years experience.</h1><br/>
            <button class="btn" routerLink="../contact"><i class="fa fa-envelope"></i> &nbsp;Message to avail services...</button><br/><br/>
            <button class="btn button mb-5" routerLink="../non-movable-properties"><i class="fa fa-rocket"></i> &nbsp;On going auctions</button>
        </div>
    </div>
</div>