<div class="container-fluid" style="margin: 1%;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2 class="text-center text-secondary">PR Enforcement Agency : Dashboard</h2>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-100">
    
                <div class="row mb-3">
                <div class="col-xl-4 col-sm-6 py-2" routerLink="../inquery">
                    <div class="card bg-success text-white h-100">
                        <div class="card-body bg-success">
                            <div class="rotate">
                                <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                            </div>
                            <h6 class="text-uppercase">Inqueries</h6>
                            <h1 class="display-6">Customer Inqueries</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6 py-2" routerLink="../movable">
                    <div class="card text-white bg-warning h-100">
                        <div class="card-body">
                            <div class="rotate">
                                <i class="fa fa-motorcycle fa-4x" aria-hidden="true"></i>
                            </div>
                            <h6 class="text-uppercase">Movable properties</h6>
                            <h1 class="display-6">Manage movable properties</h1>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6 py-2" routerLink="../non-movable">
                    <div class="card text-white bg-info h-100">
                        <div class="card-body bg-info">
                            <div class="rotate">
                                <i class="fa fa-home fa-4x" aria-hidden="true"></i>
                            </div>
                            <h6 class="text-uppercase">Non-Movable properties</h6>
                            <h1 class="display-6">Manage Non movable properties</h1>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card text-white bg-warning h-100">
                        <div class="card-body">
                            <div class="rotate">
                                <i class="fa fa-share fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Shares</h6>
                            <h1 class="display-4">36</h1>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>